@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-image: url(../img/background.jpg);
    color: #868686;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.122px;
    text-align: left;
    text-shadow: 1px 1px 0px #fff;
}

.center {
    margin: 0 auto;
    width: 1200px;
    width: 90%;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

img, picture, video, embed {
    max-width: 100%;
}

h1, h2 {
    color: #FE9380;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 60px;
}

h3 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 38px;
}

p {
    font-weight: 300;
    letter-spacing: -1px;
}

a, a:link, a:visited {
    color: #FE9380;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #FE5E41;
    text-decoration: underline;
    text-shadow: none;
}

header {
    border-bottom: 1px solid #E0E0E0;
    height: 150px;
    width: 100%; 
}

header h1 a{
    background-image: url(../img/logo-criar-site-responsivo.png);
    background-repeat: no-repeat;
    float: left;
    height: 139px;
    text-indent: -9999;
    width: 25.1666666665%;
}

nav {
    float: right;
    margin-top: 78px;
    text-align: right;
    width: 40.8333333333333%;    
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav ul li a{
    margin-right: 30px;
}

nav ul li:nth-child(5) a {
    margin-right: 0px;
}

nav a:link, nav a:visited {
    color: #999;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 26px;
    display: inline-block;
}

nav a.ativo, nav a:hover {
    color: #FE9380;
}

.chamada {
    height: 290px;
    text-align: center;
    width: 100%;
}

h2 span {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
}

.chamada h3 {
    margin: 0 auto;
    width: 75%;
}

.container {
    background-color: #FE9481;
    height: 417px;
    padding: 2.5%;
    width: 95%;
    max-width: 1200px;
}

.desktop, .tablet, .mobile {
    float: left;
    position: relative;
    text-align: center;
    width: 31.578947368421%;
}

.desktop, .tablet {
    margin-right: 2.63157894736842%;
}

.mobile {
    background-color: #9C8CB9;
    margin-right: 0px;
}

.desktop {
    background-color: #FE9481;
}

.tablet {
    background-color: #FCDA92;
}

.container figure {
    margin: 10px auto 0px auto;
    text-align: center;
    width: 250px;
}

.container h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-shadow: none;
}

.container p {
    background-color: #fff;
    float: left;
    height: 160px;
    padding: 7px;
    position: absolute;
    max-width: 360px;
    text-align: justify;
    top: 225px;
}

img {
    max-width: 100%;
}

.container .desktop figure, .container .tablet figure, .container .mobile figure {
    width: 69.444444444444444%;
}

span.btn {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -2px;
    height: 27px;
    margin-top: 30px;
    position: absolute;
    right: 1px;
    text-align: center;
    text-shadow: none;
    width: 120px;
}

span.btn a {
    color: #fff;
    padding: 2px 4px;
}

.desktop span.btn a {
    background-color: #FE9481;
}

.tablet span.btn a {
    background-color: #FCDA92;
}

.mobile span.btn a {
    background-color: #9C8CB9;
}

footer {
    clear: both;
    height: 50px;
    padding: 10px 0px;
    width: 1200px;
}

.copyright {
    float: left;
    margin-left: 30px;
}

.desenvolvedor {
    float: right;
}

.desenvolvedor figure {
    width: 182px;
}

/*Media query: 1200px*/
@media screen and (max-width: 1200px) {
    .chamada h3 {
        font-size: 1.666666666666667em;
    }

    .container h3 {
        font-size: 1.555555555555556em;
    }

    .container p {
        height: 170px;
        top: 217px;
    }
}

/*Media query: 960px*/
@media screen and (max-width: 960px) {
    header h1 a {
        width: 37.5%;
    }

    nav {
        width: 62.5%;
    }

    h2 {
        font-size: 2.666666666666667em;
    }

    .chamada {
        height: 250px;
    }

    .chamada h3 {
        font-size: 1.5em;
        width: 88.54166666666667%;
    }

    .container {
        color: black;
    }

    .desktop, .tablet, .mobile {
        width: 31.45833333333333%;
    }

    .container .desktop figure, .container .tablet figure, .container .mobile figure {
        width: 66.22516556291391%;
    }

    .container img {
        height: 100px;
    }

    .container h3 {
        font-size: 1.666666666666667‬em;
    }

    .container p {
        font-size: 0.8333333333333333em‬;
        top: 230px;
    }
}

/*Media query: 768px*/
@media screen and (max-width: 768px) {
    h2, a, a:link, a:visited {
        color: #fbca61;
    }

    a:hover {
        color: #f9ad0f;
    }

    header {
        height: 195px;
        text-align: center;
    }

    header h1 a {
        background-position: 57% 0;
        height: 126px;
        margin-bottom: 15px;
        width: 100%;
    }

    nav {
        float: none;
        text-align: center;
        width: 100%;
    }

    nav a.ativo:link, nav a:hover {
        color: #fbca61;
    }

    .chamada {
        height: 200px;
    }
    h2 {
        font-size: 2.222222222222222em;
    }

    .chamada h3 {
        font-size: 1.111111111111111em;
    }

    .container {
        background-color: #FCDA92;
        height: 380px;
        padding: 3.90625%;
        width: 92.1875%;
    }

    .desktop, .tablet, .mobile {
        width: 31.25%;
    }

    .container .desktop figure, .container .tablet figure, .container .mobile figure {
        width: 62.25%;
    }

    .container img {
        height: 80px;
    }

    .container h3 {
        font-size: 1.666666666666667em‬;
    }

    .container p {
        font-size: 0.7777777777777778em;
        height: 140px;
        line-height: 1.142857142857143em;
        padding: 0.0291666666666667em;
        top: 215px;
    }

    span.btn {
        font-size: 1.111111111111111‬em;
        letter-spacing: -0.1em;
        height: 22px;
        margin-top: 20px;
        position: absolute;
        width: 50%;
    }

    span,btn a {
        padding: 2px 3.333333333333333%‬;
    }
    
}

/*Media query: 480px*/
@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }

    .center {
        width: 100%;
    }

    h2, a, a:link, a:visited{
        color: #9c8cb9;
    }

    a:hover {
        color: #745f9a;
    }

    header {
        border-bottom: none;
        height: auto;
        text-align: center;
    }

    header h1 a {
        background-position: 50% 0;
        display: inherit;
        height: 126px;
        width: 100%;
    }

    nav {
        clear: both;
    }

    nav li {
        background-color: #9c8cb9;
        display: block;
    }

    nav ul li a {
        height: 40px;
        margin: 0 auto;
        padding-top: 3px;
        text-align: center;
        text-shadow: none;
        width: 100%;
    }

    nav li a:link {
        color: #fff;
        font-size: 1.388888888888889em;
    }

    nav li a.ativo:link, nav li a:hover, nav li a:visited {
        background-color: #9c8cb9;
    }

    .chamada {
        height: 130px;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.444444444444444em;
        letter-spacing: -0.0769230769230769em;
        margin-bottom: 15px;
    }

    .chamada h3 {
        display: none;
        font-size: 0.7777777777777778em;
    }

    .container {
        background-color: #9c8cb9;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container .desktop, .container .tablet, .container .mobile {
        float: none;
        height: 160px;
        width: 100%;
    }

    .container .desktop figure, .container .tablet figure, .container .mobile figure {
        float: left;
        height: 160px;
        margin: 0;
        padding: 0;
        width: 53.125%;
    }

    .container h3 {
        float: left;
        margin-top: 30px;
        width: 46.875%;
    }

    .container .desktop figure img, .container .tablet figure img, .container .mobile figure img {
        height: 125px;
        margin-top: 15px;
        width: 86.2745098039%;
    }

    .container p{
        display: none;
    }

    .copyright, .desenvolvedor {
        float: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .desenvolvedor figure {
        width: inherit;
    }
}

/*Media query: 320px*/
@media screen and (max-width: 320px) {
    h2, a, a:link, a:visited {
        color: #79E1D5;
    }

    a:hover {
        color: #2FD0BC;
    }

    nav li {
        background-color: #79E1D5;
    }

    Nav li a:link {
        color: #555;
    }
    
    nav li a.ativo, nav li a:hover, nav li a:visited {
        background-color: #2FD0BC;
        color: #fff;
    }

    nav li a.ativo:hover, nav li a.ativo:visited {
        background-color: #2fd0bc;
    }

    .chamada {
        height: 130px;
        margin-top: 20px;
    }

    h2 {
        font-size: 1.111111111111111‬em;
        margin-bottom: 15px;
    }

    .chamada h3 {
        font-size: 0.7777777777777778em;
    }

    .container .desktop, .container .tablet, .container .mobile {
        float: none;
        height: 160px;
        width: 100%;
    }

    .container .desktop figure, .container .tablet figure, .container .mobile figure {
        float: none;
        width: 100%;
    }

    .container h3 {
        display: none;
    }

    .container p {
        display: none;
    }
}